/* You can add global styles to this file, and also import other style files */


/* Preloader */
#preloader {
  background-color: #f7f7f7;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  #preloader .spinner {
    width: 40px;
    height: 40px;
    background-color: #3762f0;
    margin: auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out; }
@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
    transform: perspective(120px); }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
    transform: perspective(120px) rotateY(180deg); }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
    transform: perspective(120px) rotateY(180deg) rotateX(180deg); } }
@keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
    transform: perspective(120px); }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
    transform: perspective(120px) rotateY(180deg); }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
    transform: perspective(120px) rotateY(180deg) rotateX(180deg); } }
/* END Preloader */


/* LOGOUT LOADING SPINNER */
.spinner:nth-child(1) {
  height: 100px;
  width:100px;
  position: fixed;
  top:50%;
  left: 50%;
  margin: -50px 0 0 -50px;
}


.spinner {
  margin-top: 80px;
}

.spinner p {
  font-size: 0.6em;
  text-align: center;
  position: absolute;
  bottom: -15px;
  color: rgba(64,64,64,0.5);
}

.spinner div:first-child {
  width: 75px;
    height: 37.5px;
    /* background-color: gold; */
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
    border: 5px solid rgba(64,64,64,1);
    border-bottom: 0;
    box-sizing: border-box;
  transform-origin: 37.5px 37.5px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -37.5px 0 0 -37.5px;
  animation-name: rotatepos;
  animation-duration: 1.375s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.spinner div {
  width: 50px;
    height: 25px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border: 5px solid rgba(64,64,64,1);
    border-bottom: 0;
    box-sizing: border-box;
  transform-origin: 25px 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  z-index: 99;
  animation-name: rotateneg;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotatepos {
    0% {
        transform: rotate(135deg);
    }
    100% {
        transform: rotate(495deg);
    }
}

@keyframes rotateneg {
    0% {
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(-405deg);
    }
}

/* --END-- LOGOUT LOADING SPINNER */
