<div class="container">
  <br>
<h1 class="page-header text-center">Account</h1>
<hr>
<br>


<div id="user-profile-2" class="user-profile">
		<div class="tabbable">
			<div class="tab-content no-border padding-24">
				<div id="home" class="tab-pane in active">
					<div class="row">
						<div class="col-xs-12 col-sm-3 center">
							<span class="profile-picture">
								<img class="editable img-responsive" alt=" Avatar" id="avatar2" src="https://lesspublic.s3.amazonaws.com/users/avatars/000/002/472/medium/avatar_work.jpg?1493634525">
							</span>

							<div class="space space-4"></div>
              <br>
							<a href="#" class="btn btn-sm btn-block btn-primary">
								<i class="ace-icon fa fa-envelope-o bigger-110"></i>
								<span class="bigger-110">Upload Picture</span>
							</a>
						</div><!-- /.col -->

						<div class="col-xs-12 col-sm-9">
							<h4 class="blue m_firstname">
								<span class="middle">{{ firstname }} {{ lastname }}</span>
							</h4>

							<div class="profile-user-info">
								<div class="profile-info-row">
									<div class="profile-info-name"> Firstname </div>
									<div class="profile-info-value m_firstname">
										<span>{{ firstname }}</span>
									</div>
								</div>


                  <div class="profile-info-row">
                    <div class="profile-info-name"> Lastname </div>
                    <div class="profile-info-value m_firstname">
                      <span>{{ lastname }}</span>
                    </div>
                  </div>

                  <div class="profile-info-row">
                    <div class="profile-info-name"> Email </div>
                    <div class="profile-info-value">
                      <span>{{ email }}</span>
                    </div>
                  </div>

								<div class="profile-info-row">
									<div class="profile-info-name"> Location </div>

									<div class="profile-info-value">
										<i class="fa fa-map-marker light-orange bigger-110"></i>
										<span>France</span>
									</div>
								</div>

								<div class="profile-info-row">
									<div class="profile-info-name"> Age </div>

									<div class="profile-info-value">
										<span>25</span>
									</div>
								</div>

								<div class="profile-info-row">
									<div class="profile-info-name"> Joined </div>

									<div class="profile-info-value">
										<span>30/10/2018</span>
									</div>
								</div>

								<div class="profile-info-row">
									<div class="profile-info-name"> Last Online </div>

									<div class="profile-info-value">
										<span>3 hours ago</span>
									</div>
								</div>
							</div>

							<div class="hr hr-8 dotted"></div>

							<div class="profile-user-info">
								<div class="profile-info-row">
									<div class="profile-info-name"> Website </div>

									<div class="profile-info-value">
										<a href="#" target="_blank">www.{{ firstname }}{{ lastname }}.com</a>
									</div>
								</div>
							</div>
						</div><!-- /.col -->
					</div><!-- /.row -->

				</div><!-- /#home -->
			</div>
		</div>
	</div>
