a.deco-none {
    color:#000000 !important;
    text-decoration:none;
}

.login-btn {
  margin-right: 10px;
  margin-left: 10px;
}

.logo {
  font-family: 'Sacramento', cursive;
  font-size: 30px;
  text-shadow: 1px 1px 15px #5995e842;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

a {
  font-family: 'Maven Pro', sans-serif;
}

img.customer_avatar {
  border-radius: 50%;
  height: 27px;
}

a#dropdown06.nav-link.dropdown-toggle.text-dark {
  padding-bottom: 0px;
  padding-top: 5px;
}
